@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: black;
}

:root {
    --branco: #F5F5F5;
    --cinza: #D8D8D8;
    --azul-claro: #A3BFD9;
    --azul-medio: #3C5A78;
    --fonte-titulo: 'Playfair Display', 'Times New Roman', Times, serif;
    --fonte-corpo: 'Fira Sans', Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    min-height: 100dvh;
}

header {
    display: flex;
    background-color: var(--azul-claro);
    justify-content: center;
    padding: 5px;
}

main {
    padding: 20px;
    flex: 1 1 auto;
}

.title {
    font-family: var(--fonte-titulo);
}

.text {
    font-family: var(--fonte-corpo);
}

#searchBox {
    padding: 5px;
    margin-top: 10px;
    border-radius: 6px;
    outline: 1px solid var(--azul-medio);
    border: none;
    width: 75%;
}

#searchBox:focus {
    outline: 2px solid var(--azul-medio);
}

#searchButton {
    padding: 5px;
    background-color: var(--azul-medio);
    color: var(--branco);
    border-radius: 6px;
    border: 1px solid var(--azul-medio);
    cursor: pointer;
    transition-duration: 0.3s;
}

#searchButton:hover {
    background-color: var(--azul-claro);
}

#results {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    padding: 0 10px;
    font-family: var(--fonte-titulo);
    background-color: var(--branco);
    border-radius: 6px;
}

.results__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 8px 0;
    text-align: center;
    transition-duration: 0.3s;
    position: relative;
}

.results__item img {
    max-width: 180px;
    height: auto;
    margin: 0 3px 8px;
}

.results__item img:hover, .title:hover {
    opacity: 0.7;
    transition: opacity 0.3s ease-in-out;
}

.openSymbol {
    font-size: 2em;
    color: var(--azul-medio);
    background-color: var(--cinza);
    border-radius: 5px;
    position: absolute;
    left: 48%;
    top: 35%;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.results__item img:hover + .openSymbol {
    opacity: 1;
}

.results__item .title {
    font-size: 1.2em;
    max-width: 410px;
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3px 6px;
    background-color: var(--cinza);
}

footer .text {
    font-size: 0.7em;
}

.dev {
    max-width: 46px;
}

@media screen and (min-width: 600px){
    #results {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .center {
        text-align: center;
        grid-area: 1 / 1 / 2 / span 2;
    }
}

@media screen and (min-width: 840px){
    .subtitle {
        font-size: 1.3em
    }

    #results {
        grid-template-columns: repeat(4, 1fr);
    }

    .center {
        grid-area: 1 / 2 / 2 / 4;
        text-align: center;
    }
}



